@import "tailwindcss";


  :root {
    --font-regular: 'OldschoolGrotesk Regular', sans-serif;
    --font-light: 'OldschoolGrotesk Light', sans-serif;
    --font-medium: 'OldschoolGrotesk Book', sans-serif;
    --secondary-color: #fff952;
    --primary-color: #11151C;
    --bg-primary: #0e0f11;
  }



  body {
    height: 100vh;
    background: var(--bg-primary);
    color: #fff;
    font-family: var(--font-regular);
  }

  .body-primary {
    background: var(--bg-primary);
  }

  
  .body-regular {
    font-family: var(--font-regular);
    font-weight: 400;
  }
  
  .body-light {
    font-family: var(--font-light);
    font-weight: 300;
  }
  
  .body-medium {
    font-family: var(--font-medium);
    font-weight: 900;
  }

  .line-mask {
    display: block;
    overflow: hidden;
  }

  .secondary-color {
    background-color: var(--secondary-color);
  }

  .primary-color {
    background-color: var(--primary-color);
  }
  

::view-transition-group(root) {
    z-index: auto !important;
  }
  
  ::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, scale;
    z-index: 1;
  }
  
  ::view-transition-new(root) {
    z-index: 2;
    animation: none !important;
  }
  
  ::view-transition-old(root) {
    z-index: 1;
    animation: none !important;
  }
  

  .link__content {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .link__text {
    display: inline-block;
    line-height: 0.7em !important;
  }
  
  .link__icon {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .link__arrow {
    display: inline-flex;
    transition: transform 0.35s ease;
  }
  
  .link__arrow_clone {
    position: absolute;
    bottom: -100%;
    left: -100%;
    transform: translate(0) ;
    z-index: 2;
  }
  
  /* Hover effect */
  .group:hover .link__arrow,
  .group:focus .link__arrow,
  .group:hover .link__arrow_clone,
  .group:focus .link__arrow_clone {
    transform: translate(100%, -100%) ;
  }
  